.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 150px;
    width: 200px;
    border: 5px solid black;
    background-color: brown;
    border-radius: 20px;

}

.countNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 160px;
    border: 2px solid black;
    background-color: bisque;
    border-radius: 5px;
    margin: 5px;
}
.number{
    font-size: 30px;
    color: black;
}
.status{
    color: black;
}

.flexButton {
    display: flex;
    align-items: end;
    margin: 5px;
}

.count {
    background-color: maroon;
    color: bisque;
    border-radius: 5px;
    cursor: pointer;
}

.count:hover {
    background-color: brown;
    color: white;
}

.count:active {
    background-color: maroon;
    color: bisque;
}

.countDisabled {
    opacity: 0.5;
    background-color: maroon;
    color: bisque;
    border-radius: 5px;
}

.errorClass {
    display: flex;
    justify-content: center;
    align-items: center;

    color: red;
    text-shadow: 1px 1px 1px black;
    width: 150px;
    height: 25px;
}